<!DOCTYPE html>
<html>
    <head>
        <title>WeatherToday-About</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2 class="about-h2">Developed by-</h2>
            <img class="portrait" src="/img/IMG_7447-01.jpeg">
            <h2 class="about-h2">Sanjay Kannan</h2>
            
        </div>
        
        {{>footer}}
    </body>

</html>