<!DOCTYPE html>
<html>
    <head>
        <title>WeatherToday-Help</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{description}}</h2>
            <input type="text" id="comment" name="comment" placeholder="Leave a comment...">
            <br>
            <button id="comment-submit" type="submit" value="=submit">Submit</button>
        </div>

        
        {{>footer}}
    </body>
</html>